<?php

// uncomment the following to define a path alias
// Yii::setPathOfAlias('local','path/to/local-folder');

// This is the main Web application configuration. Any writable
// CWebApplication properties can be configured here.
return array(
    'basePath'=>dirname(__FILE__).DIRECTORY_SEPARATOR.'..',
    'name'=>'KTVŠ FMFI UK',

    // preloading 'log' component
    'preload'=>array('log'),

    // autoloading model and component classes
    'import'=>array(
        'application.models.*',
        'application.components.*',
    ),

    'modules'=>array(
        // enable the Gii tool
        'gii'=>array(
            'class'=>'system.gii.GiiModule',
            'password'=>'gii',
            // If removed, Gii defaults to localhost only. Edit carefully to taste.
            'ipFilters'=>array('127.0.0.1','::1'),
        ),
    ),

    // internationalization
    'language'=>'sk',

    // application components
    'components'=>array(
        'user'=>array(
            // enable cookie-based authentication
            'allowAutoLogin'=>true,
            // enable Yii::app()->user->isAdmin()
            'class' => 'WebUser',
        ),
        // clean urls (requires mod_rewrite)
        'urlManager'=>array(
            'urlFormat'=>'path',
            'rules'=>array(
                'sign'=>'student/create',
                'event/<id:\d+>/page/<id2:\d+>'=>'event/viewSubPage',
                'event/update/<id:\d+>/page/<id2:\d+>'=>'event/updateSubPage',
                'league/<id:\d+>/page/<id2:\d+>'=>'league/viewSubPage',
                'league/update/<id:\d+>/page/<id2:\d+>'=>'league/updateSubPage',
                'course/<id:\d+>/page/<id2:\d+>'=>'course/viewSubPage',
                'course/update/<id:\d+>/page/<id2:\d+>'=>'course/updateSubPage',
                'schedule'=>'site/page/view/schedules',
                'schedule/index'=>'site/page/view/schedules',
                'schedule/<id:\d+>'=>'schedule/index',
                '<controller:\w+>/<id:\d+>'=>'<controller>/view',
                '<controller:\w+>/<action:\w+>/<id:\d+>'=>'<controller>/<action>',
                '<controller:\w+>/<action:\w+>/<id:\d+>/<id2:\d+>'=>'<controller>/<action>',
                '<controller:\w+>/<action:\w+>'=>'<controller>/<action>',
            ),
            'showScriptName' => false,
        ),
        // SQLite database
        /*
        'db'=>array(
            'connectionString' => 'sqlite:'.dirname(__FILE__).'/../data/devdrive.db',
        ),
        */
        // [MySQL] Modify dbname, username and password to your needs
        'db'=>array(
            'connectionString' => 'mysql:host=localhost;dbname=ktvs_development',
            'emulatePrepare' => true,
            'username' => 'root',
            'password' => '',
            'charset' => 'utf8',
        ),
        'authManager'=>array(
            'class'=>'CDbAuthManager',
            'connectionID'=>'db',
            'itemTable'=>'tbl_auth_item',
            'itemChildTable'=>'tbl_auth_item_child',
            'assignmentTable'=>'tbl_auth_assignment',
            'defaultRoles'=>array('teacher','admin'),
        ),
        'errorHandler'=>array(
            // use 'site/error' action to display errors
            'errorAction'=>'site/error',
        ),
        'log' => array(
            'class' => 'CLogRouter',
            'routes' => array(
                array(
                    'class' => 'CFileLogRoute',
                    'levels' => 'trace, info, error, warning, vardump',
                ),
                // show log messages on web pages
                array(
                    'class' => 'CWebLogRoute',
                    'enabled' => YII_DEBUG,
                    'levels' => 'error, warning, trace, notice',
                    'categories' => 'application',
                    'showInFireBug' => false,
                ),
            ),
        ),
        'detectMobileBrowser' => array(
            'class' => 'ext.yii-detectmobilebrowser.XDetectMobileBrowser',
        ),
    ),

    // application-level parameters that can be accessed
    // using Yii::app()->params['paramName']
    'params'=>array(
        // this is used in contact page
        'adminEmail'=>'webmaster@example.com',
    ),
);
