 
* {
	margin:0;
	padding:0;
}
body {
	font-family: 'Stoke', serif;
	font-size:100%;
	margin: 0;
	padding: 0;
	color: #3a3a3a;
	position:relative;
	text-shadow:0 0px, 1px 1px #ffffff;

	background:#d2afab url(../images/8.jpg) no-repeat top left fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
	/*float:left;*/
	margin:0px 20px 10px 20px;
}
h1 a {
	font-size:1.2em; 
	font-family: 'Alfa Slab One', cursive;
	text-decoration:none;
	color:#dea20c;
	font-weight:normal;
	text-shadow:0 0px, 3px 3px #ffffff;
}
h1 a:hover {
	text-decoration:none;
}
h2 {
	font-size:1.7em;
	font-weight:inherit;
	margin:0 0 10px 0;
	font-family: 'Quattrocento Sans', sans-serif;
	color:#dea20c;
}
.slogan {
	text-transform:uppercase;
	font-size:0.6em;
}
a img { 
	border: none;
}
a {
	color: #dea20c;
	text-decoration: none; 
}
a:hover { 
	color: #aa7900;
	text-decoration: underline;
}
img {
	max-width: 100%;
	height: auto;
	width: auto;	
}
p {
	line-height:140%;
}
.wrapper, .authorBox, nav { 
	width:75%;
	margin:0 auto;
}
header {
	background:url(../images/footerBackground.jpg) repeat;
	padding: 10px;	
}
header img{	
	position:relative;
	top: 10px;
	right:0;
	float: right ;
	width: 90px;
	height: 90px;

}
.logo {
	float:left;
}
.contentBody .post {
	padding:5%;
}

.sidebar h2 {
	padding:10% 5% 0 5%;
}
.sidebar ul {
	padding:0 5%;
}
.contentBody .post img, .author img {
	box-shadow: 0 0px 6px rgba(76, 21, 20, 0.8);
}

.contentBody {
	width:75%;
	float:right;
	background:#f1eae8;
	border-radius:20px;
	top:100px;
	box-shadow: 0 0px 6px rgba(76, 21, 20, 0.8);
}

.contentBody li {
	margin-left: 5%;
}

.sidebar {
	width:20%;
	float:left;
	background:#f1eae8;
	border-radius:20px;
	box-shadow: 0 0px 6px rgba(76, 21, 20, 0.8);
}
.sidebar ul{
	padding:0% 5% 5% 5%;
}
.sidebar li {
	display:block;
	list-style:0;
	width:100%;
}
.sidebar li a {
	display:block;
	padding:10px 10px 10px 20px;
	background:url(../images/p.png) no-repeat 5px 15px;
	text-decoration:none;
	font-style:italic;
	color:#3a3a3a;
}
.sidebar li a:hover {
	background:#4f1817;
	color:#dea20c;
	text-shadow:0 0px, 1px 1px #000000;
}
.author {
	background:url(../images/authorBackground.jpg) repeat;
	padding:1%;
}
.authorPic {
	width:20%;
	float:left;
}
.authorDescription {
	width:77%;
	float:right;
}
.button {
	padding:20px 0 0 0;
}
.button a {
	color:#dea20c;
}
.prihlas{
	width:200px;
	height: 50px;
	border-radius:20px;
	box-shadow: 0 0px 6px rgba(76, 21, 20, 0.8);
}
.prihlas:hover{
	color:white;
	text-transform: uppercase;
	background-image: url(../images/footerBackground.jpg);
}
footer {
	background:url(../images/footerBackground.jpg) repeat;
	margin-top:30px;
	color:#f1eae8;
	text-shadow:0 0px, 1px 1px #000000;
}
footer p {
	font-size:0.8571428571428571em; /* 12px/14px */
}
footer a {
	text-decoration:underline;
}
footer a:hover {
	text-decoration:none;
}
footer .copyright {
	padding:20px 5px;
	border-top:1px solid #a16e67;
	text-align:center;
}
.clearfloat { 
	clear:both;
	height:0;
	line-height: 0px;
}
/**************************/
/*********************************Begin main menu****************************************/
/**************************/
nav {
}
nav li {
	list-style:none;
	display:inline;
}

nav li a {
	font-family: 'Quattrocento Sans', sans-serif;
	text-shadow: none;
	text-decoration: none;
	padding:4px 10px;
	font-weight:bold;
	color:#f1eae8;
}
nav li a:hover {
	color:#dea20c;
	text-decoration:none;
}
nav .active a {
	color:#dea20c;
}
nav select {
      display: none;
    }
select {
	width:200px;
}
/**************************/
/*********************************End main menu****************************************/
/**************************/
/*********************************Begin Media Queries****************************************/
/**************************/
/* for 960px or less */
@media screen and (max-width: 980px) {
	.wrapper {
		width:75%; 
		margin:0 auto;
	}
}
/* for 768px or less */
@media screen and (max-width: 768px) {
	.contentBody, .sidebar {
		float:none;
		width:auto;
	}
	.sidebar {
		margin:30px 0 0 0;
	}
}
/* for 480px or less */
@media screen and (max-width: 480px) {
	nav ul { display: none; }
	nav select { display: inline-block; }
	h1 {font-size:1.6em;}
	.authorPic, .authorDescription {
		float:none;
		width:auto;
	}
	.authorDescription {margin-top:20px;}
}
