#element{
    margin-bottom: 15px;
    padding: 10px;
    border-radius:20px;
    box-shadow: 0 0px 6px rgba(76, 21, 20, 0.8);
    background-color: rgba(255,255,255,0.7);
}
    
* {
	margin:0;
	padding:0;
}
#content{
	
	line-height: 2em;
}
body {
	font-weight: 200;
	font-family: 'Noto Serif', serif;
	font-size:100%;
	letter-spacing: 0.5px;
	
	margin: 0;
	padding: 0;
	color: #3a3a3a;
	position:relative;
	text-shadow:0 0px, 1px 1px #ffffff;

	background:#d2afab url(../images/8.jpg) no-repeat top left fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
	
	margin:0px 20px 20px 20px;
}
h1 a {
	font-size:1.2em; 
	font-family: 'Alfa Slab One', cursive;
	text-decoration:none;
	color:#dea20c;
	font-weight:normal;
	text-shadow:0 0px, 3px 3px #ffffff;
}
h1 a:hover {
	text-decoration:none;
}
h2 {
	font-size:1.7em;
	font-weight:inherit;
	margin:0 0 10px 0;
	font-family: 'Quattrocento Sans', sans-serif;
	color:#dea20c;
}
.slogan {
	text-transform:uppercase;
	font-size:0.6em;
}
a img { 
	border: none;
}
a {
	color: #dea20c;
	text-decoration: none; 
}
a:hover { 
	color: #aa7900;
	text-decoration: underline;
}
img {
	max-width: 100%;
	height: auto;
	width: auto;	
}
p {
	line-height:140%;
}
.wrapper, .authorBox, nav { 
	width:75%;
	margin:0 auto;
	text-shadow:none;
}
header {
	background:url(../images/footerBackground.jpg) repeat;
	padding: 10px;	
}
.logo1{	
	position:relative;
	right:13%;
	float: right ;
	width: 90px;
	height: 90px;
	margin: 10px;
}
.logo2{	
	position:relative;
	right:13%;
	float: right ;
	width: 90px;
	height: 90px;
	margin: 10px;
}
.logo {
	position:relative;
	right: 13%;
	margin:10px;
	float: right ;
	height: 90px;
	width: 90px;
	text-transform: uppercase;	
	font-size: x-large;
}
.sidebar h2 {
	padding:10% 5% 0 5%;
}
.sidebar ul {
	padding:0 5%;
}
.contentBody {
	margin: 10px;
	width:74%;
	float:right;
	background:#f1eae8;
	border-radius:20px;
	top:100px;
	box-shadow: 0 0px 6px rgba(76, 21, 20, 0.8);
}
.contentBody .post {

	padding:5%;
}
.contentBody .post img, .author img {
	box-shadow: 0 0px 6px rgba(76, 21, 20, 0.8);

}
.contentBody .breadcrumbs {
	margin:5px 0 0 10px;
}
.contentBody li {
	margin-left: 10px;
}

.sidebar {
	width:19%;
	margin: 1%;
	float:left;
	background:rgba(241, 234, 232, 0.8);
	border-radius:20px;
	box-shadow: 0 0px 6px rgba(76, 21, 20, 0.8);
}
.sidebar ul{
	padding:0% 5% 5% 5%;
}
.sidebar li {
	display:block;
	list-style:0;
	width:100%;
}
.sidebar li a {
	display:block;
	padding:10px 10px 10px 20px;
	background:url(../images/p.png) no-repeat 5px 15px;
	text-decoration:none;
	font-style:italic;
	color:#3a3a3a;
}
.sidebar li a:hover {
	background:#4f1817;
	color:#dea20c;
	text-shadow:0 0px, 1px 1px #000000;
}
.sidebar input[type="button"] {
	position: relative;
    display: block;
    margin:-3% 0 10% 5%;
    padding:0 5%;
}
.author {
	background:url(../images/authorBackground.jpg) repeat;
	padding:1%;
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight: 200;
}
.authorPic {
	width:20%;
	float:left;
}
.authorDescription {
	width:77%;
	float:right;
}
.button {
	padding:20px 0 0 0;
}
.button a {
	
}

.prihlas{

	width: 100px;
    height: 30px;
	border-radius:20px;
	box-shadow: 0 0px 6px rgba(76, 21, 20, 0.8);

}
.prihlas:hover{
	color:white;
	text-transform: uppercase;
	background-image: url(../images/authorBackground.jpg);
}
.required{
	
}
.errorMessage{
	color: #dea20c;
	text-decoration: none;
	text-shadow:none;
}


footer {
	background:url(../images/footerBackground.jpg) repeat;
	margin-top:30px;
	color:#f1eae8;
	text-shadow:0 0px, 1px 1px #000000;
}
footer p {
	font-size:0.8571428571428571em; /* 12px/14px */
}
footer a {
	text-decoration:underline;
}
footer a:hover {
	text-decoration:none;
}
footer .copyright {
	padding:20px 5px;
	border-top:1px solid #a16e67;
	text-align:center;
}
.clearfloat { 
	clear:both;
	height:0;
	line-height: 0px;
}
#login_link {
	position: relative;
	float: right;
	margin-top: -23px;
	margin-right: 15%;
	text-shadow: none;
	font-size: 80%;
}

#login_link a{
	text-decoration: none;
}
#login_link a:hover{
	text-decoration: none;
	}


#login_link input {
	text-decoration: none;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	background-image: url(../images/authorBackground.jpg);
	box-shadow: 0 0px 6px rgba(76, 21, 20, 0.8);
	color: white;
	border-radius:20px;

}
#login_link ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: right;
  background: #f1eae8;
  
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;    
}

#login_link li {
  float: left;          
}
#login_link #login {
 
 background-image: url(../images/footerBackground.jpg);
}
#login_link #login-trigger,
#login_link #signup a {
	width: 110px;
    height: 30px;
	
	

  display: inline-block;
  *display: inline;
  *zoom: 1;
  color:white;
  line-height: 25px;
  font-weight: bold;
  padding: 0 8px;
  text-decoration: none;
  background-image: url(../images/footerBackground.jpg);
  border-radius:20px;
}
#login_link #signup a {
  border-radius: 0 3px 3px 0;
}

#login_link #login-trigger {
 
 
}

#login_link #login-trigger:hover,
#login_link #login .active,
#login_link #signup a:hover {
  background:url(../images/authorBackground.jpg) repeat;
}

#login_link #login-content {
 display: none;
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 999;    
 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1eae8), to(#f1eae8));
  background-image: -webkit-linear-gradient(top, #f1eae8, #f1eae8);
  background-image: -moz-linear-gradient(top, #f1eae8, #f1eae8);
  background-image: -ms-linear-gradient(top, #f1eae8, #f1eae8);
  background-image: -o-linear-gradient(top, #f1eae8, #f1eae8);
  background-image: linear-gradient(top, #f1eae8, #f1eae8);  
 
  padding: 15px;
  -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  -moz-border-radius: 3px 0 3px 3px;
  -webkit-border-radius: 3px 0 3px 3px;
  border-radius: 3px 0 3px 3px;
}
#login_link li #login-content {
  right: 0;
  width: 250px;  
}

/* TOTO URCITE NEPOUZIVAT!!! yw4 sa moze zmenit na hocico, radsej to urob ako to je nizsie
#yw4{
    {padding-left: 7px; font: small/1.7 Verdana, Arial, lucida, helvetica, sans-serif; overflow: hidden;}
}*/
/*#vyskakovacie_menu ul {
	padding-left: 7px; 
	font: small/1.7 Verdana, Arial, lucida, helvetica, sans-serif; 
	overflow: hidden;
}*/

#vyskakovacie_menu {display: table; width: 650px; border:none;}
#vyskakovacie_menu ul {list-style-type: none;padding-bottom: 0;}
#vyskakovacie_menu li {float: left; position: relative;z-index: 10;}
#vyskakovacie_menu li a {display: block; font-weight: bold; text-align: center; background: transparent;  line-height: 2em; border:none; text-decoration: none;}
#vyskakovacie_menu li a.select {color: #000; background: #f8f8f8;}
#vyskakovacie_menu li ul {position: absolute; display: none; width: 140px; left: 0; }

#vyskakovacie_menu li li {width: 100%;}
#vyskakovacie_menu li li a {padding: 2px 3px 2px 7px; line-height: 1.4em; font-weight: normal; text-align: left; background: #ddd; border:none;}

/* Hover efekty pre prehliadace okrem IE 5.x a IE 6 */

#vyskakovacie_menu li:hover a {border:1px dotted #dea20c;}
#vyskakovacie_menu li:hover ul {display: block;}
#vyskakovacie_menu li:hover li a {background: #ddd;}
#vyskakovacie_menu li:hover li a:hover {color: #000;background-color: #f8f8f8;}

#inputs{
	border-style: none;
}
#inputs input {
  color: black;
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px #ccc inset;
  -webkit-box-shadow: 0 1px 1px #ccc inset;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  -moz-box-shadow: 0 0 0 1px #e8c291 inset;
  -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/
#actions{border-style: none;}
#login #actions {
  margin: 10px 0 0 0; 
}

#login #submit {		
  background-color: #d14545;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e97171), to(#d14545));
  background-image: -webkit-linear-gradient(top, #e97171, #d14545);
  background-image: -moz-linear-gradient(top, #e97171, #d14545);
  background-image: -ms-linear-gradient(top, #e97171, #d14545);
  background-image: -o-linear-gradient(top, #e97171, #d14545);
  background-image: linear-gradient(top, #e97171, #d14545);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #7e1515;
  float: left;
  height: 30px;
  padding: 0;
  width: 100px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #fff;
}

#login #submit:hover,
#login #submit:focus {		
  background-color: #e97171;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d14545), to(#e97171));
  background-image: -webkit-linear-gradient(top, #d14545, #e97171);
  background-image: -moz-linear-gradient(top, #d14545, #e97171);
  background-image: -ms-linear-gradient(top, #d14545, #e97171);
  background-image: -o-linear-gradient(top, #d14545, #e97171);
  background-image: linear-gradient(top, #d14545, #e97171);
}	

#login #submit:active {		
  outline: none;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

#login #submit::-moz-focus-inner {
  border: none;
}

#login label {
  
  line-height: 30px;
}

#login label input {
  position: relative;
  top: 2px;
  right: 2px;
}

/**************************/
/*********************************Begin main menu****************************************/
/**************************/
nav {
}
nav li {
	list-style:none;
	display:inline;
}

nav li a {
	font-family: 'Quattrocento Sans', sans-serif;
	text-shadow: none;
	text-decoration: none;
	padding:4px 10px;
	font-weight:bold;
	color:#f1eae8;
}
nav li a:hover {
	color:#dea20c;
	text-decoration:none;
}
nav .active a {
	color:#dea20c;
}
nav select {
      display: none;
    }
select {
	width:200px;
}
/**************************/
/*********************************End main menu****************************************/
/**************************/
/*********************************Begin Media Queries****************************************/
/**************************/
/* for 960px or less */
@media screen and (max-width: 980px) {
	.wrapper {
		width:75%; 
		margin:0 auto;
	}
}
/* for 768px or less */
@media screen and (max-width: 768px) {
	.contentBody, .sidebar {
		float:none;
		width:auto;
	}
	.sidebar {
		margin:30px 0 0 0;
	}
}
/* for 480px or less */
@media screen and (max-width: 480px) {
	nav ul { display: none; }
	nav select { display: inline-block; }
	h1 {font-size:1.6em;}
	.authorPic, .authorDescription {
		float:none;
		width:auto;
	}
	.authorDescription {margin-top:20px;}
}
/* http://www.menucool.com */
/* http://www.menucool.com */

#sliderFrame {
	float:left;
   position:relative;
   width:400px;
   margin:10px 10px 30px 10px;


}


#slider, #slider div.sliderInner {
    width:400px;height:200px;/* Must be the same size as the slider images */
    border-radius: 12px;
}

#slider {
	background:#fff url(loading.gif) no-repeat 50% 50%;
	position:relative;
    transform: translate3d(0,0,0);
    box-shadow: 0px 1px 5px #999999;
	
}

/* the link style (if an image is wrapped in a link) */
#slider a.imgLink, #slider .video {
	z-index:2;
	position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:100%;height:100%;
}
#slider .video {
	background:transparent url(video.png) no-repeat 50% 50%;
}

/* Caption styles */
#slider div.mc-caption-bg, #slider div.mc-caption-bg2 {
	position:absolute;
	width:440px;
	height:auto;
	padding:10px 0;/* 10px will increase the height.*/
	left:120px; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
	bottom:10px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
	z-index:3;
	overflow:hidden;
	font-size: 0;
}
#slider div.mc-caption-bg {
    /* NOTE: Its opacity is to be set through the sliderOptions.captionOpacity setting in the js-image-slider.js file.*/
	background:Black;/* or any other colors such as White, or: background:none; */
	border:1px solid white;
	border-radius: 5px;
}
#slider div.mc-caption-bg2 {
    background:none;
}
#slider div.mc-caption {
	font:bold 15px Arial;
	color:#EEE;
	z-index:4;
	text-align:center;
    background:none;
}
#slider div.mc-caption a {
	color:#FB0;
}
#slider div.mc-caption a:hover {
	color:#DA0;
}


/* ------ built-in navigation bullets wrapper ------*/
/* Note: check themes\2\js-image-slider.css to see how to hide nav bullets */
#slider div.navBulletsWrapper  {
	top:220px;/* Its position is relative to the #slider */
	text-align:center;
	background:none;
	position:relative;
	z-index:5;
}

/* each bullet */
#slider div.navBulletsWrapper div 
{
    width:11px; height:11px;
    border:1px solid #AAA;
    background:#EEE;
    color:#AAA;
    font:normal 9px Arial;
    text-align:center;
    display:inline-block; *display:inline; zoom:1;
    overflow:hidden;cursor:pointer;
    margin:0 6px;/* set distance between each bullet*/
    border-radius:50%;
    box-shadow:inset 0 0 4px #AAA;
}

#slider div.navBulletsWrapper div.active {
    border-color:#3E99C6;
    background:#259FDC;
    color:White;
}


/* --------- Others ------- */

#slider div.loading 
{
    width:100%; height:100%;
    background:transparent url(../images/loading.gif) no-repeat 50% 50%;
    filter: alpha(opacity=60);
    opacity:0.6;
    position:absolute;
    left:0;
    top:0; 
    z-index:9;
}

#slider img, #slider>b, #slider a>b {
	position:absolute; border:none; display:none;
}

#slider div.sliderInner {
	overflow:hidden; 
	-webkit-transform: rotate(0.000001deg);/* fixed the Chrome not crop border-radius bug*/
	position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {display:none;}